<% if !@friends.empty? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th class="text-center">Stocks</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% count = 0 %>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td class="text-center"><%= friend.stocks.count %></td>
          <% if true %>
            <td class="text-center">
              <%= link_to (fa_icon 'eye', title:"Follow User"), user_path(friend), class:"btn btn-primary btn-sm" %>
              <%= link_to (fa_icon 'trash', title:"Remove"), friendship_path(friend), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-sm" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
